@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

:root {
  background-color: #0B0B0B;
  color: rgb(255, 255, 255);
  font-family: 'Roboto';
  background-image: url("../assets/images/wavy.webp");
}

body {
  margin: 0; 
  background:  rgba(0, 0, 0, 0.6);
}

header {
  padding: 1em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
}

.logo {
  height: 50px;
}

.logo img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

header div {
  font-size: 1.5em;
  font-weight: bold;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0;
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 0.7em;
  font-weight: 400;
}

.nav a:hover {
  background-color: #222222;
}


/* Footer */
footer{
  background-color: #222222;
  padding: 0.1em;
  text-align: center;
}