.main-title {
    font-size: 4em;
    margin: 40px 0 40px 0;
}

.blue {
    color: #3E86DA;
}

.card{
    background-color: #222222;
    padding: 0px 0px;
    border-radius: 10px;
    margin: 10px;
    max-width: 400px;
}

.title{
    background-color: #3E86DA;
    padding: 15px;
    border-radius: 10px;
}

.details{
    padding: 20px;
    
}
.details .price h2{
    font-size: 30px;
}
.features  {
    margin-bottom: 50px;
}
.features hr {
    opacity: 0.5;

}

.btn{
    padding: 10px;
    border-radius: 10px;
    background-color: #3E86DA;
    color: white;
}


.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img{
    max-width: 400px;
    rotate: -25deg;
    transition: all 0.5s ease-in-out;
}
.img img:hover{
    rotate: 0deg;
}