section
{
    margin: 100px;
}

.carder

{
    font-size: 75px;
    margin-left: 130px;
    margin-bottom: 100px;
}

.paygoo
{
   color: cornflowerblue;
}
.Arr
{
   font-size: 20px;
}
.aoc
{
    font-size: 40px;
    margin-left: 500px;
}
.team
{
    font-size: 20px;
    margin-top: 70px;
}
.image
{
    margin-left: 5px;
}
.hor
{
    margin-top: -80px;
    width: 100%;
    margin-bottom: 100px;
}
.app
{
    font-size: 20px;
}
.SPAN
{
    color: cornflowerblue;
    
}